.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  padding: 1rem;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 350px;
  height: 450px;
  background-color: #2f2d79af;
}