.select-country {
  display: flex;
  gap: 0.5rem;
}

.country-name {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  background-color: transparent;
  color: #ffffff;
  flex: 1;
}

.search-btn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(225, 225, 225, 0.2);
  color: #ffffff;
  padding: 2px;
}