.temperature-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.temperature {
  font-size: 3.5rem;
  font-weight: 500;
}

.temperature::after {
  content: '°';
  position: absolute;
}

.feels-like {
  font-size: 1.1rem;
}